//for desktop or tablet screen that width is greater than 600px
.index-page {
  max-width: 820px;
  height: auto;
  overflow: auto;

  .filter {
    display: flex;
    margin-top: 2px;
    max-height: 60px;
    background-color: #ffffff;
    overflow-x: scroll;
    align-items: center;

    .filter-item {
      display: flex;
      height: 34px;
      width: auto;
      margin: 1vw;
      background-color: #F1F7FC;
      border-radius: 19px;
      align-items: center;
      cursor: pointer;

      img {
        margin: 2px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffffff;
      }
      p {
        margin: 0 20px;
        align-self: center;
        color: #000000;
        white-space: nowrap;
        font-size: 0.8rem;
      }
    }
    .filter-item-active{
      display: flex;
      height: 34px;
      width: auto;
      margin: 1vw;
      background-color: #FF6464;
      border-radius: 19px;
      align-items: center;
      cursor: pointer;

      img {
        margin: 2px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffffff;
      }
      p {
        margin: 0 20px;
        align-self: center;
        color: #ffffff;
        white-space: nowrap;
        font-size: 0.8rem;
      }
    }
  }
  .container {
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(92px,1fr));
    gap: 10px;
    overflow: hidden;
    margin-bottom: 10px;

    .item {
      background-color: #ffffff;
      border-radius: 9px;
      height: 310px;

      .item-img {
        height: 80%;
        display: flex;
        justify-content: center;

        img {
          display:block;
          margin: auto;
          max-width: 25vw;
          max-height: 70%;
          border-radius: 50%;
        }
      }
      .item-text {
        padding: 0 2vw;

        .item-name {
          white-space: nowrap;
          text-align: start;
          margin: 2px 0;
          font-size: 0.85rem;
          font-weight: bold;
          color: #000000;
        }
        .tag {
          display: flex;

          .item-price {
            text-align: start;
            margin: 1px 0;
            font-size: 0.85rem;
            font-weight: bold;
            color: #FF0000;
          }

        }
        .counted {
          text-align: start;
          margin: 1px 0 2px 0;
          font-size: 0.85rem;
          color: #747474;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    display:none;
  }
}

//for middle screen that width is between 450px and 600px
@media screen and (min-width: 425px) and (max-width: 600px) {
  .index-page {

    .container {
      padding: 3vw;
      display: grid;
      grid-template-columns: repeat(3, minmax(92px,1fr));
      gap: 10px;
      overflow: hidden;

      .item {
        background-color: #ffffff;
        border-radius: 9px;
        height: 250px;

        // set this empty to follow the base style
        .item-img {

          img {
          }
        }
        .item-text {
          .item-name {
            font-size: 0.65rem;
          }
          .tag {
            .item-price {
              font-size: 0.65rem;
            }
          }
          .counted {
            font-size: 0.65rem;
          }
        }
      }
    }
  }
}

//for mobile screen that width is lower than 450px
@media screen and  (max-width: 425px) {
  .index-page {

    .container {
      padding: 3vw;
      display: grid;
      grid-template-columns: repeat(2, minmax(92px,1fr));
      gap: 10px;
      overflow: hidden;

      .item {
        background-color: #ffffff;
        border-radius: 9px;
        height: 215px;

        .item-img {
          img {
            max-width: 30vw;
          }
        }
        .item-text {
          .item-name {
            font-size: 0.60rem;
          }
          .tag {

            .item-price {
              font-size: 0.60rem;
            }
          }
          .counted {
            font-size: 0.60rem;
          }
        }
      }
    }
  }
}
